*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  gap: 30px;
  inline-size: 100%;
  align-items: flex-start;
  padding-left: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
  text-align: left;
}

.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  overflow: visible;
  padding-top: 85px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 26px;
}

.content__list-container {
  height: 298px;
  width: 399px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 3px;
  box-sizing: border-box;
}

.search-form {
  display: flex;
  align-items: baseline;
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s, text-decoration 0.2s;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 0;
  margin-top: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  line-height: 1;
}

.search-form__textfield {
  appearance: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: currentColor;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  padding: 1px 0px 1px;
  box-sizing: border-box;
  background-color: transparent;
  width: 225px;
  border-width: 1px 0 1px 0;
  letter-spacing: 0;
  margin-top: 9px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #FFF;
}

.search-form__label:hover span {
  text-decoration: underline;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:focus {
  text-decoration: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid #fff;
}

.button {
  border: 1px solid #ccc;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  padding: 6px 20px;
  transition: all 0.2s ease;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.search-form__fieldset:first-child {
  flex-grow: 1;
}

.more-button {
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #FFF;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}